.contactInfoItem {
  display: flex;
  flex-direction: column;

  padding-top: 10em;
  font-size: 25px;
  margin-top: 20px;
  font-family: "Plus Jakarta Sans";
  //   background-image: linear-gradient(to right bottom, #fbee8c, #ff91af);
  h2 {
    display: flex;
    align-items: flex-start;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
  }
  .info {
    display: flex;
    align-items: flex-start;
    padding-top: 1em;
  }
  .text {
    padding-left: 0.5em;
    padding-top: 0.2em;
  }

  .icon {
    color: black;
    position: relative;
    width: 60px;
    height: 40px;
    top: 5px;
    left: 5px;
  }
}
